* {
  padding: 0px;
  margin: 0px;
  body,
  html {
    height: 100%;
    width: 100%;
    .navigationBar {
      height: 650px;
      width: 200px;
      background-color: white;
      position: relative;
      float: left;
      ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        li {
          font-family: "微软雅黑";
          list-style: none;
          justify-content: center;
          text-align: center;
          font-size: 30px;
          font-weight: 400;
          height: 80px;
          width: 220px;
          &:focus {
            background-color: gray;
          }
        }
      }
    }
    #control {
      height: 150px;
      width: 1000px;
      background-color: white;
      float: left;
    }
    #canvas {
      background-color: white;
      float: left;
    }
    .color-choose {
      text-align: center;
      height: 70px;
      width: 100px;
      background-color: gainsboro;
      float: left;
      #hovered-color {
        margin-left: 1.5px;
        margin-right: 1.5px;
        width: 46px;
        height: 46px;
        text-align: center;
        background-color: white;
        float: left;
      }
      #selected-color {
        margin-left: 1.5px;
        margin-right: 1.5px;
        width: 46px;
        height: 46px;
        text-align: center;
        background-color: white;
        float: left;
      }
    }
  }
}
