* {
  padding: 0px;
  margin: 0px;
  body,
  html {
    height: 100%;
    width: 100%;
    .Home {
      #webglCanvas {
        border: 3px solid #ff6700;
      }
      .Choose {
        position: absolute;
        right: 40px;
        top: 20px;
        a {
          display: block;
          color: black;
          text-decoration: none;
          font-size: 25px;
        }
        a:hover {
          color: yellowgreen;
        }
      }
      .fabricDraw {
        .canvas-container {
          width: 100% !important;
          height: 100% !important;
          z-index: 1;
          .upper-canvas {
            left: 0% !important;
            top: 0% !important;
            background-color: rgba(123,123,123,0.1);
          }
        }
      }
    }

    input {
      outline: none;
      width: 85px;
      height: 18px;
      line-height: 15px;
      text-align: center;
      background: rgba(0, 0, 0, 0.2);
      border: none;
      border-radius: 5%;
    }
    select {
      width: 100px;
      height: 18px;
    }
    .navigationBar {
      height: 200px;
      width: 220px;
      background-color: white;
      position: relative;
      float: left;
      ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        li {
          font-family: "微软雅黑";
          list-style: none;
          justify-content: center;
          text-align: center;
          font-size: 27px;
          font-weight: 400;
          height: 80px;
          width: 220px;
          &:focus {
            background-color: gray;
          }
        }
      }
      #imageFont {
        font-size: 22px;
      }
    }
    #control {
      height: 150px;
      width: 1000px;
      background-color: white;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      #TopWord {
        height: 25px;
        font-weight: 600;
        width: 200px;
        flex: 1;
      }
      #shadow {
        width: 200px;
        height: 125px;
        flex: 1;
      }
      #controlBroad {
        width: 200px;
        height: 125px;
        flex: 1;
      }
      #word {
        width: 200px;
        height: 125px;
        flex: 1;
      }
      #line {
        width: 200px;
        height: 125px;
        flex: 1;
      }
    }
    #canvas-gray {
      height: 750px;
      width: 1000px;
      position: absolute;
      left: 220px;
      top: 150px;
      background-color: gray;
      .canvasImage {
        position: absolute;
        top: 0px;
        left: 1000px;
      }
      .FabricTools {
        position: absolute;
        z-index: 1000;
      }
      #canvas {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
      }
      #canvas2 {
        position: absolute;
        background-color: white;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
      }
    }
    .color-choose {
      position: absolute;
      right: 200px;
      text-align: center;
      height: 70px;
      width: 105px;
      background-color: gainsboro;
      float: left;
      #hovered-color {
        position: absolute;
        left: 6px;
        width: 45px;
        height: 45px;
        text-align: center;
        background-color: white;
      }
      #selected-color {
        position: absolute;
        right: 5px;
        width: 45px;
        height: 45px;
        text-align: center;
        background-color: white;
        float: left;
      }
    }
  }
}
